{% extends 'base.html' %}

{% block title%}
About COVID19
{% endblock title%}

{% block body%}
<div>
    <h1>About COVID-19</h1>
    <img src="../static/images/covid-19.jpg" alt="COVID-19 Photo" class="leftimg">
</div>
<div>
    <h2>Coronavirus disease 2019</h2>

    <p>
        Coronavirus disease 2019 (COVID-19) is a contagious disease caused by severe acute respiratory syndrome
        coronavirus 2 (SARS-CoV-2). The first case was identified in Wuhan, China, in December 2019. It has since
        spread worldwide, leading to an ongoing pandemic.
    </p>

    <p>
        Symptoms of COVID-19 are variable, but often include fever, cough, fatigue, breathing difficulties, and loss
        of smell and taste. Symptoms begin one to fourteen days after exposure to the virus. Around one in five
        infected individuals do not develop any symptoms. While most people have mild symptoms, some people develop
        acute respiratory distress syndrome (ARDS). ARDS can be precipitated by cytokine storms multi-organ failure,
        septic shock, and blood clots. Longer-term damage to organs (in particular, the lungs and heart) has been
        observed. There is concern about a significant number of patients who have recovered from the acute phase of
        the disease but continue to experience a range of effects—known as long COVID—for months afterwards. These
        effects include severe fatigue, memory loss and other cognitive issues, low-grade fever, muscle weakness,
        and breathlessness.
    </p>
    <p>
        The virus that causes COVID-19 spreads mainly when an infected person is in close contact with another
        person. Small droplets and aerosols containing the virus can spread from an infected person's nose and mouth
        as they breathe, cough, sneeze, sing, or speak. Other people are infected if the virus gets into their
        mouth, nose or eyes. The virus may also spread via contaminated surfaces, although this is not thought to be
        the main route of transmission. The exact route of transmission is rarely proven conclusively, but infection
        mainly happens when people are near each other for long enough. It can spread as early as two days before
        infected persons show symptoms, and from individuals who never experience symptoms. People remain infectious
        for up to ten days in moderate cases, and two weeks in severe cases. Various testing methods have been
        developed to diagnose the disease. The standard diagnosis method is by real-time reverse transcription
        polymerase chain reaction (rRT-PCR) from a nasopharyngeal swab.
    </p>
    <p>
        Preventive measures include physical or social distancing, quarantining, ventilation of indoor spaces,
        covering coughs and sneezes, hand washing, and keeping unwashed hands away from the face. The use of face
        masks or coverings has been recommended in public settings to minimise the risk of transmissions. Several
        vaccines have been developed and various countries have initiated mass vaccination campaigns.
    </p>
</div>
<div>
    <h2>Cases</h2>
    <img src="../static/images/img1.webp" alt="Statistics" class="rightimg">

    <p> Official case counts refer to the number of people who have been tested for COVID-19 and whose test has been
        confirmed positive according to official protocols.Many countries, early on, had official policies to not
        test those with only mild symptoms. An analysis of the early phase of the outbreak up to 23 January
        estimated 86 percent of COVID-19 infections had not been detected, and that these undocumented infections
        were the source for 79 percent of documented cases. Several other studies, using a variety of methods, have
        estimated that numbers of infections in many countries are likely to be considerably greater than the
        reported cases.</p>


    <p>
        On 9 April 2020, preliminary results found that 15 percent of people tested in Gangelt, the centre of a
        major infection cluster in Germany, tested positive for antibodies. Screening for COVID-19 in pregnant women
        in New York City, and blood donors in the Netherlands, has also found rates of positive antibody tests that
        may indicate more infections than reported. Seroprevalence based estimates are conservative as some studies
        shown that persons with mild symptoms do not have detectable antibodies. Some results (such as the Gangelt
        study) have received substantial press coverage without first passing through peer review.


    </p>
    <p> Analysis by age in China indicates that a relatively low proportion of cases occur in individuals under 20.
        <img src="../static/images/covid.gif" alt="Statistics" class="rightimg">
        It was not clear whether this was because young people were less likely to be infected, or less likely to
        develop serious symptoms and seek medical attention and be tested. A retrospective cohort study in China
        found that children and adults were just as likely to be infected.
    </p>

    <p>
        Initial estimates of the basic reproduction number (R0) for COVID-19 in January were between 1.4 and
        2.5, but a subsequent analysis concluded that it may be about 5.7 (with a 95 percent confidence interval
        of 3.8 to 8.9). R0 can vary across populations and is not to be confused with the effective reproduction
        number (commonly just called R), which takes into account effects such as social distancing and herd
        immunity. By mid-May 2020, the effective R was close to or below 1.0 in many countries, meaning the spread
        of the disease in these areas at that time was stable or decreasing.
    </p>
</div>
<div>

    <h2>Signs and symptoms</h2>
    <p>
        COVID-19 spreads from person to person mainly through the respiratory route after an infected person coughs,
        sneezes, sings, talks or breathes. A new infection occurs when virus-containing particles exhaled by an
        infected person, either respiratory droplets or aerosols, get into the mouth, nose, or eyes of other people
        who are in close contact with the infected person. During human-to-human transmission, an average 1000
        infectious SARS-CoV-2 virions are thought to initiate a new infection.
    </p>
    <p>
        The closer people interact, and the longer they interact, the more likely they are to transmit COVID-19.
        Closer distances can involve larger droplets (which fall to the ground) and aerosols, whereas longer
        distances only involve aerosols. The larger droplets may also evaporate into the aerosols (known as droplet
        nuclei). The relative importance of the larger droplets and the aerosols is not clear as of November 2020,
        however the virus is not known to transmit between rooms over long distances such as through air ducts.
        Airborne transmission is able to particularly occur indoors, in high risk locations, such as in restaurants,
        choirs, gyms, nightclubs, offices, and religious venues, often when they are crowded or less ventilated. It
        also occurs in healthcare settings, often when aerosol-generating medical procedures are performed on
        COVID-19 patients.
    </p>
    <p>
        Social distancing and the wearing of cloth face masks, surgical masks, respirators, or other face coverings
        are controls for droplet transmission. Transmission may be decreased indoors with well maintained heating
        and ventilation systems to maintain good air circulation and increase the use of outdoor air.
    </p>
    <p>
        The number of people generally infected by one infected person varies; as of September 2020 it was estimated
        that one infected person will, on average, infect between two and three other people. This is more
        infectious than influenza, but less so than measles. It often spreads in clusters, where infections can be
        traced back to an index case or geographical location. There is a major role of "super-spreading events",
        where many people are infected by one person.
    </p>
    <p>
    <h2>Deaths</h2>
    <img src="../static/images/deaths.jpg" alt="death" class="leftimg">

    <p> Official deaths from COVID-19 generally refer to people who died after testing positive according to
        protocols. This may ignore deaths of people who die without having been tested. Conversely, deaths of
        people who had underlying conditions may lead to over-counting. Comparison of statistics for deaths for
        all causes versus the seasonal average indicates excess mortality in many countries. This may
        include deaths due to strained healthcare systems and bans on elective surgery. The first confirmed
        death was in Wuhan on 9 January 2020. The first reported death outside of China occurred on 1 February
        in the Philippines, and the first reported death outside Asia was in the United States on 6
        February.[55]</p>

    <p> More than 95 percent of the people who contract COVID-19 recover. Otherwise, the time between symptoms onset
        and death usually ranges from 6 to 41 days, typically about 14 days. As of 9 January 2021, more than
        1.91 million deaths had been attributed to COVID-19. People at the greatest risk from COVID-19 tend to be
        those with underlying conditions, such as a weakened immune system, serious heart or lung problems, severe
        obesity, or the elderly.</p>
    <table class="rightimg">
        {%for i in range(0,statisticsArr | count)%}

        <tr>
        {%if i == 0%}
            <th>{{statisticsArr[0][0] |safe}}</th>
            <th>{{statisticsArr[0][1] |safe}}</th>
        {% else %}
            <td>{{statisticsArr[i][0] |safe}}</td>
            <td>{{statisticsArr[i][1] |safe}}</td>
        {% endif %}
        </tr>

        {% endfor %}
    </table>

    <p> On 24 March 2020, the Centers for Disease Control and Prevention (CDC) of the United States, indicated the
        World Health Organization (WHO) had provided two codes for COVID-19: U07.1 when confirmed by laboratory
        testing and U07.2 for clinically or epidemiological diagnosis where laboratory confirmation is inconclusive
        or not available. The CDC noted that "Because laboratory test results are not typically reported on
        death certificates in the U.S., [the National Center for Health Statistics (NCHS)] is not planning to
        implement U07.2 for mortality statistics" and that U07.1 would be used "If the death certificate reports
        terms such as 'probable COVID-19' or 'likely COVID-19'." The CDC also noted "It Is not likely that NCHS will
        follow up on these cases" and while the "underlying cause depends upon what and where conditions are
        reported on the death certificate, ... the rules for coding and selection of the ... cause of death are
        expected to result in COVID–19 being the underlying cause more often than not."</p>

    <p>
        On 16 April 2020, the World Health Organization (WHO), in its formal publication of the two codes, U07.1 and
        U07.2, "recognized that in many countries detail as to the laboratory confirmation... will not be reported
        [and] recommended, for mortality purposes only, to code COVID-19 provisionally to code U07.1 unless it is
        stated as 'probable' or 'suspected'." It was also noted that the WHO "does not distinguish" between
        infection by SARS-CoV-2 and COVID-19.

    </p>
    <p> Multiple measures are used to quantify mortality. These numbers vary by region and over time, influenced
        by testing volume, healthcare system quality, treatment options, government response, time since
        the initial outbreak, and population characteristics, such as age, sex, and overall health. Countries
        like Belgium include deaths from suspected cases of COVID-19, regardless of whether the person was tested,
        resulting in higher numbers compared to countries that include only test-confirmed cases.</p>

    <p> The death-to-case ratio reflects the number of deaths attributed to COVID-19 divided by the number of
        diagnosed cases within a given time interval. Based on Johns Hopkins University statistics, the global
        death-to-case ratio is 2.2 percent (1,913,665 deaths for 88,879,115 cases) as of 9 January 2021. The
        number varies by region.</p>
    </p>
</div>
{% endblock body%}